/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Estilos para Snackbar de éxito */
.snackbar-success {
  background-color: #4caf50 !important;
  color: white !important;
}

.snackbar-success .mat-mdc-snack-bar-label {
  color: white !important;
}

.snackbar-success .mat-mdc-button {
  color: white !important;
}

/* Estilos para Snackbar de error */
.snackbar-error {
  background-color: #f44336 !important;
  color: white !important;
}

.snackbar-error .mat-mdc-snack-bar-label {
  color: white !important;
}

.snackbar-error .mat-mdc-button {
  color: white !important;
}

.email-dialog-panel .mat-mdc-dialog-container {
  overflow: hidden !important;
}

.email-dialog-panel .mdc-dialog__surface {
  overflow: hidden !important;
  border-radius: 16px !important;
  padding: 0 !important;
  display: flex !important;
  flex-direction: column !important;
  max-height: 90vh !important;
}

.email-dialog-panel mat-dialog-actions {
  margin: 0 !important;
  box-sizing: border-box;
}