html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-success {
  background-color: #4caf50 !important;
  color: white !important;
}

.snackbar-success .mat-mdc-snack-bar-label {
  color: white !important;
}

.snackbar-success .mat-mdc-button {
  color: white !important;
}

.snackbar-error {
  background-color: #f44336 !important;
  color: white !important;
}

.snackbar-error .mat-mdc-snack-bar-label {
  color: white !important;
}

.snackbar-error .mat-mdc-button {
  color: white !important;
}

.mat-mdc-dialog-content {
  scrollbar-width: thin !important;
  scrollbar-color: #d4d4d4 transparent !important;
  padding-right: 0 !important;
}
 
.mat-mdc-dialog-content::-webkit-scrollbar {
  width: 4px !important;
}
 
.mat-mdc-dialog-content::-webkit-scrollbar-track {
  background: transparent !important;
}
 
.mat-mdc-dialog-content::-webkit-scrollbar-thumb {
  background: #d4d4d4 !important;
  border-radius: 4px !important;
}
 
.mat-mdc-dialog-container .mdc-dialog__content {
  padding: 0 !important;
  overflow: hidden !important;
}